<!-- museums/templates/museums/museum_index.html -->

{% extends "pages/base.html" %} {% block title%} Museum Index {%endblock %}


{% block page_content %}
<h1>Museums</h1>
<div class="row">
{% for museum in museums %}
    <div class="col-md-4">
        <div class="card mb-2">
		{% if museum.image %}
                	<img class="card-img-top" src="{{ museum.image.url }}">
                {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ museum.title }}</h5>
                <p class="card-text">{{ museum.description }}</p>
                <a href="{% url 'museum_detail' museum.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
